
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="/CompanyClient/GetPublicInformation">
    <input type="submit" id="submitButton" name="submitButton" value="Get Public Information" />
</form>


<form method="post" action="/CompanyClient/GetConfidentialInformation">
    <input type="submit" id="submitButton" name="submitButton" value="Get Confidential Information" />
</form>

